*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    overflow:hidden;
    height:100vh;
    background:
    radial-gradient(circle at top,#63001a,#160008 60%,#000);
    font-family:'Poppins',sans-serif;
    position:relative;
}



.estrellas{
    position:absolute;
    width:100%;
    height:100%;
    background-image:
    radial-gradient(white 1px, transparent 1px);
    background-size:35px 35px;
    opacity:0.2;
    animation:parallax 20s linear infinite;
}

@keyframes parallax{
    from{
        transform:translateY(0);
    }

    to{
        transform:translateY(-100px);
    }
}



.titulo{
    position:absolute;
    top:20px;
    width:100%;
    text-align:center;
    font-size:75px;
    font-family:'Great Vibes',cursive;
    color:#ffd8e7;

    text-shadow:
    0 0 10px #ff4f88,
    0 0 20px #ff4f88,
    0 0 40px #ff0055;

    z-index:100;
}



.escena{
    width:100%;
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    position:relative;
}



.corazon{
    position:absolute;
    width:260px;
    height:260px;
    background:#ff004c;
    transform:rotate(-45deg);
    animation:latido 2s infinite;

    box-shadow:
    0 0 30px #ff004c,
    0 0 60px #ff004c,
    0 0 100px #ff004c;
}

.corazon::before,
.corazon::after{
    content:"";
    position:absolute;
    width:260px;
    height:260px;
    background:#ff004c;
    border-radius:50%;
}

.corazon::before{
    top:-130px;
    left:0;
}

.corazon::after{
    left:130px;
    top:0;
}

@keyframes latido{

    0%{
        transform:rotate(-45deg) scale(1);
    }

    50%{
        transform:rotate(-45deg) scale(1.08);
    }

    100%{
        transform:rotate(-45deg) scale(1);
    }
}



.anillo{
    position:absolute;
    border-radius:50%;
    border:3px solid rgba(255,80,130,0.35);

    transform-style:preserve-3d;

    animation:girar linear infinite;

    box-shadow:
    0 0 15px #ff4f88,
    0 0 30px #ff0055;
}

.anillo1{
    width:700px;
    height:170px;
    animation-duration:18s;
    transform:rotateX(75deg);
}

.anillo2{
    width:950px;
    height:250px;
    animation-duration:25s;
    transform:rotateX(75deg);
}

.anillo3{
    width:1200px;
    height:350px;
    animation-duration:35s;
    transform:rotateX(75deg);
}

.anillo4{
    width:1450px;
    height:480px;
    animation-duration:45s;
    transform:rotateX(75deg);
}

@keyframes girar{

    from{
        transform:rotateX(75deg) rotateZ(0deg);
    }

    to{
        transform:rotateX(75deg) rotateZ(360deg);
    }
}



.texto{
    position:absolute;
    width:100%;
    height:100%;
    border-radius:50%;
}

.texto span{
    position:absolute;
    left:50%;
    top:50%;

    color:#ffe1eb;
    font-size:23px;
    font-weight:bold;

    text-shadow:
    0 0 10px #ff4f88,
    0 0 20px #ff0055;

    transform-origin:0 0;
}



.foto{
    position:absolute;
    width:130px;
    height:130px;
    border-radius:50%;
    overflow:hidden;

    border:4px solid #ffd6e5;

    box-shadow:
    0 0 15px white,
    0 0 30px #ff4f88;

    animation:flotar 5s ease-in-out infinite;
}

.foto img{
    width:100%;
    height:100%;
    object-fit:cover;
}



.foto1{
    top:120px;
    left:18%;
}

.foto2{
    top:120px;
    right:18%;
}

.foto3{
    bottom:160px;
    left:20%;
}

.foto4{
    bottom:160px;
    right:20%;
}

.foto5{
    left:50%;
    bottom:50px;
    transform:translateX(-50%);
}

.foto6{
    left:5%;
    top:40%;
}

.foto7{
    right:5%;
    top:42%;
}



@keyframes flotar{

    0%{
        transform:translateY(0px);
    }

    50%{
        transform:translateY(-15px);
    }

    100%{
        transform:translateY(0px);
    }
}
